*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(170, 206, 226);
}

.wrapper{
    justify-content: center;
    display: grid;
}

.container{
    width: 50%;
    margin: 3rem auto;
    height: 85vh;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: -1px 2px  20px rgb(29, 60, 82);
}

h2{
    margin-top: 10px;
    padding:15px ;
}

.logo{
    margin:20px  20px;
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
}
.logo i{
    padding: 10px;
    border-radius: 50px;
    position: relative;
    top: 10px;
    left: -60px;
    background-color: rgb(214, 211, 211);
}

h4,a{
    display: inline;
}

h4{
    position: relative;
    top: 1px;
    left: -50px;
    font-size: .9rem;
}


.link1{
    position: relative;
    top: -15px;
    left: 60px;
    color:   rgb(0, 0, 170) ;
}

.prize{
    font-size: .9rem;
    position: relative;
    top: -5px;
    color: rgb(88, 88, 88);
    left: -5px;
}

button{
    padding: 12px;
    border-radius: 10px;
    width: 70%;
    border: none;
    background-color: hsl(224, 69%, 45%)
    ;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(126, 143, 223);
}

.list2 {
    position: relative;
    top: 20px;
    text-decoration: none;
    font-size: .9rem;
    color: rgb(79, 0, 168);
    font-weight: bold;
    opacity: 60%;
}
.list2:hover{
    text-decoration: underline;
}

p{
    font-size: .9rem;
}

.img-container{
    display: grid;
    justify-content:center;
    top: 10px;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    top: -10px;
    position: relative;
    border-radius: 20px 10px 0px 0px;

}


p{
    width: 90%;
    margin: auto;
    color: rgb(121, 120, 120);
    line-height: 22px;

}

.credit{
    font-size: .7rem;
}


@media screen and (max-width:481px){
    .container{
        width: 70%;
    }

    button{
        width: 80%;
        position: relative;
        top: -20px;
    }

    h2{
        font-size: 1.4rem;
    }

    p{
        font-size: .8rem;
    }
    .logo,h4,.prize{
        font-size: .8rem;
    }

    .list2{
        font-size: .9rem;
        position: relative;
        top: -5px;
    }
}

@media screen and (max-width:350px){
    .container{
        width: 90%;
    }
}